 

.container {
  position: relative;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container img {
  width: 100%;
  height: auto;
}

.apiLogo {
  position: absolute;
  width: 100%;
}

.screenlog {
  position: 'fixed';
  bottom: '10px';
  right: '10px';
  background: '#fff';
  padding: '10px';
  border: '1px solid #ccc';
}

.apiPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #508EB7;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

input:focus {
  background-color: #0579d0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding: 3px;
}

input:active {
  background-color: #0579d0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding: 3px;
}

.info-bar {
  background-color: #3972b8;
  width: 35%;
  height: 23%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  color: #fff;
  font-weight: bold !important;
}